a {
  margin: 5px;
  padding: 5px;
  border: 1px solid #66cccc;
}

.nav {
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 10px;
  border-bottom: 1px solid black;
}
