<div class="loading" *ngIf="commentPage.data == null">
    加载中
</div>
<div *ngIf="commentPage.data != null" class="full-content">

    <div class="search">
        <input type="text" placeholder="昵称" [(ngModel)]="commentQuery.nickname" />
        <input type="text" placeholder="内容" [(ngModel)]="commentQuery.content" />
        <input type="text" placeholder="文章标题" [(ngModel)]="commentQuery.articleTitle" /><br />
        <button class="primary" (click)="getAllComment()">搜索</button>
    </div>

    <table>
        <tr>
            <th>文章标题</th>
            <th>昵称</th>
            <th>邮箱</th>
            <th>网址</th>
            <th>内容</th>
            <th>评论时间</th>
            <th>状态</th>
            <th>操作</th>
        </tr>
        <tr *ngFor="let comment of commentPage.data">
            <td>{{comment.articleTitle}}</td>
            <td>{{comment.nickname}}</td>
            <td>{{comment.email}}</td>
            <td>{{comment.net}}</td>
            <td>{{comment.content}}</td>
            <td>{{comment.createTime}}</td>
            <td>{{comment.status == 'SHOW' ? '展示':'不展示'}}</td>
            <td>
                <button class="danger"
                    (click)="updateCommentStatus(comment)">{{comment.status == 'SHOW' ? '不展示':'展示'}}</button>
            </td>
        </tr>
    </table>

    <div *ngIf="commentPage.total > 0" class="pageable">
        <span class="pageshow">{{commentPage.pageNo}}-{{commentPage.pageTotal}}/{{commentPage.total}}</span>
        <button *ngIf="commentPage.pageNo > 1" (click)="pageUp()">上一页</button>
        <button *ngIf="commentPage.pageNo < commentPage.pageTotal" (click)="pageDown()">下一页</button>
    </div>
</div>