<div class="search">
    <input placeholder="id" [(ngModel)]="articleQuery.id" />
    <input placeholder="文章标题" [(ngModel)]="articleQuery.title" />
    <select [(ngModel)]="articleQuery.status">
        <option value="SHOW">发布</option>
        <option value="HIDDEN">未发布</option>
    </select>
    <br />
    <input type="text" [(ngModel)]="articleQuery.category" placeholder="分类">
    <input type="text" [(ngModel)]="articleQuery.tags" placeholder="标签">
    <br />
    <button (click)="getArticles()">搜索</button>
</div>

<div class="add">
    <button (click)="showAddPop()">新增</button>
</div>

<div class="loading" *ngIf="articlePage.list == null">
    加载中
</div>

<div *ngIf="articlePage.list != null" class="full-content">
    <table>
        <tr>
            <th>标题</th>
            <th>tags</th>
            <th>分类</th>
            <th>状态</th>
            <th>发布时间</th>
            <th>阅读量</th>
            <th>操作</th>
        </tr>
        <tr *ngFor="let article of articlePage.list">
            <td>{{article.title}}</td>
            <td>{{article.tags}}</td>
            <td>{{article.category}}</td>
            <td>{{article.status}}</td>
            <td>{{article.latestTime}}</td>
            <td>{{article.visit}}</td>
            <td>
                <button class="primary" (click)="showUpdate(article.id)">编辑</button>
            </td>
        </tr>
    </table>

    <div *ngIf="articlePage.total > 0" class="pageable">
        <span class="pageshow">{{articlePage.pageNo}}-{{articlePage.pageTotal}}/{{articlePage.total}}</span>
        <button *ngIf="articlePage.pageNo > 1" (click)="pageUp()">上一页</button>
        <button *ngIf="articlePage.pageNo < articlePage.pageTotal" (click)="pageDown()">下一页</button>
    </div>

    <div *ngIf="newArticle != null" class="edit-frame">
        <input type="text" placeholder="标题" [(ngModel)]="newArticle.title" />
        <br />
        <input type="text" placeholder="副标题" [(ngModel)]="newArticle.subTitle" />
        <br />
        <input type="text" placeholder="分类" [(ngModel)]="newArticle.category">
        <br />
        <input type="text" placeholder="标签" [(ngModel)]="newArticle.tags" />
        <br />
        <span>发布状态: </span><select [(ngModel)]="newArticle.status">
            <option value="SHOW">发布</option>
            <option value="HIDDEN">不发布</option>
        </select>
        <br />
        <textarea placeholder="文章内容" [(ngModel)]="newArticle.content"></textarea>
        <br />
        <button class="info" (click)="newArticle = null">取消</button>
        <button class="primary" (click)="addArticle()">新增</button>
    </div>

    <div *ngIf="updateArticleEntity != null" class="edit-frame">
        <input type="text" placeholder="标题" [(ngModel)]="updateArticleEntity.title" />
        <br />
        <input type="text" placeholder="副标题" [(ngModel)]="updateArticleEntity.subTitle" />
        <br />
        <input type="text" placeholder="分类" [(ngModel)]="updateArticleEntity.category" />
        <br />
        <input type="text" placeholder="标签" [(ngModel)]="updateArticleEntity.tags" />
        <br />
        <span>发布状态: </span>
        <select [(ngModel)]="updateArticleEntity.status">
            <option value="SHOW">发布</option>
            <option value="HIDDEN">不发布</option>
        </select>
        <br />
        <textarea placeholder="文章内容" [(ngModel)]="updateArticleEntity.content"></textarea>
        <br />
        <button class="info" (click)="updateArticleEntity = null">取消</button>
        <button class="primary" (click)="updateArticle()">更新</button>
    </div>

</div>