.banner {
    width: auto;
    background-image: url("./../assets/violet.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center, bottom;
    text-align: center;
    margin: 0 auto;
    position: relative;
  }
  
  @media screen and (min-width: 768px) {
    .banner {
      height: 25rem;
    }
  }
  
  @media screen and (max-width: 768px) {
    .banner {
      height: 15rem;
    }
  }
  
  .title {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 100%;
    height: 100px;
    text-align: center;
    color: rgb(166, 83, 113);
    text-shadow: 1px 1px 2px black;
  }
  
  .nav {
    position: absolute;
    top: 10;
    bottom: 0;
    margin: auto;
    width: 100%;
    height: 100px;
    text-align: center;
  }
  
  .nav-link {
    color: whitesmoke;
    font-weight: bold;
    text-decoration: none;
    padding: 5px;
    text-shadow: 1px 1px 2px black;
  }
  
  .nav-link:visited {
    color: whitesmoke;
  }
  
  .nav-link:active {
    color: whitesmoke;
  }
  
  .nav-link:hover {
    color: whitesmoke;
    text-shadow: #FC0 1px 0 10px;
  }
  
  .img-info {
    display: inline;
    float: right;
  }
  
  .img-info a {
    color: white;
  }
  