<div class="loading" *ngIf="categorys == null">
  加载中
</div>
<div *ngIf="categorys != null" class="full-content">
  <div class="save-frame">
    <input
      placeholder="输入分类名称"
      [(ngModel)]="addCategoryEntity.categoryName"
    />
    <button class="primary" (click)="addCategory()">新增</button>
  </div>

  <table>
    <tr>
      <th>分类名称</th>
      <th>创建时间</th>
      <th>操作</th>
    </tr>
    <tr *ngFor="let category of categorys">
      <td>{{ category.categoryName }}</td>
      <td>{{ category.createTime }}</td>
      <td>
        <button class="danger" (click)="delCategory(category.id)">删除</button>
        <button class="info" (click)="showUpdate(category)">重命名</button>
      </td>
    </tr>
  </table>

  <div *ngIf="updateCategoryEntity.id != null" class="edit-frame">
    <div class="edit-content">
      <input
        placeholder="请输入"
        [(ngModel)]="updateCategoryEntity.categoryName"
      />
      <br />
      <button class="info" (click)="cancelUpdate()">取消</button>
      <button class="primary" (click)="updateCategory()">更新</button>
    </div>
  </div>
</div>
